<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
<title>Add Items</title>
    <%- include('nav_bar') %>
    <link rel="stylesheet" href="/user-style.css" >
    </head>
    <body>

    <div class="headerText"><h1 style="color: white;">
        <%=pageTitle %>
        </h1> </div>   
  <div class ="form-align">
    <!-- class="user-form" -->
    <form  action="/add" method="POST">
        <%=bookName %>
    <input type="text" name="name" class="textFiled" id="name">
    <%=category %>
    <input class="text" type="text" name="category">
    <%=artist %>
    <input class="text" type = "text" name="artist">
    <button class="submitButton" type="submit">Submit</button>
       </form>
    </form>
  </div>
    </body>
</html>